body {
 -moz-opacity: .999; //to defeat firefox redraw problem with fade effect
}

/* link styles */
.nav a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 1em;
	color: #fff;
	width: 11.6em;
	font-weight: bold;
	border: 1px solid #FFF;
	background-color: #606289;
	margin: 0px;
}

.nav li li a {
  /* style for links on pop-up menus */
}

.nav li li li a {
	/* style for second level menu links */
}

.nav a:hover{
	background-color: #c3c7ea;
	color: #000;
}

/* main nav bar */
.nav {
	margin: 0;
	padding: 0;
	line-height: 1;
}

/* all list items */
.nav  li {
	margin:0 !important;
	padding:0 !important;
	list-style: none; /* remove bullets */
	float: left; /* place buttons side by side */
	position: relative;
}


/* pop-up subnav */
.nav ul {
	margin: 0;
	padding: 0;
	position: absolute;
  left: 0;
  top: 3em; /* change when you change height of links */
	display: none;
}


/* list items in pop-up subnav */
.nav ul li {
	float: none; /* so links line up one above the other for drop-downs */
	z-index: 100;
}

.nav ul ul li {
	z-index: 100;
}

div.subnav {
	float:left;
	width:15%;
	padding:10px 1.5%;
}

.subnav a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 1em 0;
	color: #fff;
	width: 100%;
	font-weight: bold;
	border: 1px solid #FFF;
	background-color: #a8162b;
	margin: 0px;
}

.subnav a:hover{
	background-color: #F2C1BC;
	color: #000;
}

.subnav {
	margin: 0;
	padding: 0;
	line-height: 1;
}

/* all list items */
.subnav  li {
	margin:0 !important;
	padding:0 !important;
	list-style: none; /* remove bullets */
	float: none;
	position: relative;
}

/* list items in pop-up subnav */
.subnav ul li {
	margin:0 !important;
	float: none; 
	z-index: 100;
}

.subnav ul {
	margin:0;
}

.subnav ul ul li {
	float: none; 
	z-index: 100;
}

.actionheader {
	text-align: left;
}

/*lower navigation bar*/
div.bnav {
	padding:10px 1.5%;
	float:left;
	width:67%;
}

.bnav a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 1em 0;
	color: #fff;
	width: 17em;
	font-weight: bold;
	border: 1px solid #FFF;
	background-color: #a8162b;
	margin: 0px;
}

.bnav a:hover{
	background-color: #F2C1BC;
	color: #000;
}

.bnav {
	margin: 0;
	padding: 0;
	line-height: 1;
}

/* all list items */
.bnav  li {
	margin:0 !important;
	padding:0 !important;
	list-style: none; /* remove bullets */
	float: left;
	position: relative;
}

